.App {
	padding-top: 4rem;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.error {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: salmon;
}
